/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: #515dffc6;
	line-height: 1.5;
	font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Titillium Web', 'Times New Roman', Times, serif;

}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	color: white;
	
}


.site-navigation a:hover {
	color: #F15A24;
	background-color: lightblue;
	border: solid #8b3313ca;
	border-radius: 1.5625rem;
	padding: .7rem;
	
}



a:focus {
	color: #F15A24;
	
}

a:active {
	color: #F15A24;
	
}

@media (min-width: 50em) {
	.site-navigation a:hover {
		color: #F15A24;
		background-color: lightblue;
		border: solid #8b3313ca;
		border-radius: 1.5625rem;
		padding: 1rem 1.5rem;
	}


}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header ul {
	list-style-type: none;
	display: flex;
}

header img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding-left: .5rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: .01rem gray;
	box-shadow: 0 0 .5rem black;
	background-color: #f15b24ca;
}


.site-navigation {
	justify-content: center;
	padding-right: 0.5rem;
}


.site-navigation a {
	text-decoration: none;
	color: white;
	text-align: center;
}

header ul a {
	padding: 0 .3rem;
}

@media (min-width: 50em) {

	.site-navigation {
		justify-content: center;
	}
	.site-navigation a {
		padding: 1rem 1.5rem;
		font-size: 1.2rem;
	}

}



/* Main
--------------------------------------------- */

h1 {
	padding: 6rem;
	background-image: url(../images/h1-bgimage.jpg);
	background-position: center;
	background-size: cover;
	margin: 0 auto 5rem;
	padding: 10rem;
	border-bottom: .01rem gray;
	box-shadow: 0 0 .5rem black;
	display: flex;
	justify-content: center;
	color: black
}

h2 {
	background-color: #f15b24ca;
	margin: auto 4rem 3rem;
	box-shadow: .625rem .625rem #772e13ba;
	color: white;
	display: flex;
	justify-content: center;
}

@media (min-width: 50em) {

}

/* About Me Section */

.about-me p {
	margin: auto 10% 5rem;
	border: 2px solid #515CFF;
	box-shadow: 0 0 .5rem #4c9e80;
	padding: 1rem;
	background-image: url(..//images/aboutme-p-bgimage.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 25px;
}

@media (min-width: 50em) {

	.about-me p {
		max-width: 45rem;
		margin: 3rem auto 10rem;
	}
}

@media (min-width: 26.5625em) {

	.about-me h2 {
		max-width: 27rem;
		margin: auto auto 3rem;
	}

}

/* Projects Section */

.section-projects {
	text-align: center;
	justify-content: center;
	display: block;
	width: 18.75rem;
	border: #f15b24ca;
	border-radius: 1.5625rem;
	box-shadow: 0 0 .30rem #f15b24ca;
	margin: 1rem auto;
	background-color: #f15b24ca;

}

.section-projects img {
	border: #f15b24ca;
	border-radius: 1.5625rem;


}


.project-links {
	text-decoration: none;
	color: white;
	border: .0625rem solid #a63e18ca;
	border-radius: 1.5625rem;
	padding: 0.75rem;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;

}

@media (min-width: 26.5625em) {

	.project-me {
		max-width: 27rem;
		margin: auto auto 3rem;
	}

}

/* Contacts Section */

.contact-i ul {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
	padding: 0 2rem;
	text-align: center;
}

.contact-i h2 {
	margin-top: 2.5rem;
}

.contact-i a {
	background-color: aliceblue;
	color: #515CFF;
	padding: .5rem;
	border: #515CFF;
	border-radius: 25px;
}

@media (min-width: 26.5625em) {

	.contact-i h2{
		max-width: 27rem;
		margin: 5rem auto 3rem;
	}

	.contact-i {
		margin-bottom: 10rem;
	}

	.contact-i ul {
		margin-top: 4rem;
	}

}


/* Footer
--------------------------------------------- */

footer {
	text-align: center;
	background-color: lightgray;
	padding: 1rem;
	margin-top: 2rem;
}
