/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: #6de2b7;
	line-height: 1.5;
	font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header ul {
	list-style-type: none;
	display: flex;
}

header img {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	padding-left: .5rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: .01rem solid;
	box-shadow: 0 0 .5rem black;
	position: relative;
}

.site-links {
	display: block;
	justify-content: flex-end;
}

header a {
	padding-right: .5rem;
	text-decoration: none;
	color: black;
}



/* Main
--------------------------------------------- */

h1 {
	padding: 6rem;
	background-color: white;
	margin: 0 auto 5rem;
	padding: 10rem;
	border-bottom: .01rem solid;
	box-shadow: 0 0 .5rem black;
	display: flex;
	justify-content: center;
}

h2 {
	background-color: #248098;
	margin: auto 4rem 3rem;
	box-shadow: .625rem .625rem #4c9e80;
	color: white;
	display: flex;
	justify-content: center;
}

/* About Me Section */

.about-me p {
	margin: auto 10% 5rem;
}

/* Projects Section */

.section-projects {
	display: block;
	text-align: center;
}

.section-projects img {
	max-width: 20rem;
	margin: 2rem;
}

.title-section-projects {
	text-align: center;
}

.project-links {
	text-decoration: none;
}


/* Footer
--------------------------------------------- */
